<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <h1 i18n="User welcome|An introduction header for this sample@@introductionHeader">
    Hello i18n!
  </h1>
  
  <ng-container i18n>I don't output any element</ng-container>
  
  <br />
  
  <img [src]="logo" i18n-title title="Angular logo" alt="Angular logo"/>
  <br>
  <button type="button" (click)="inc(1)">+</button> <button type="button" (click)="inc(-1)">-</button>
  <span i18n>Updated {minutes, plural, =0 {just now} =1 {one minute ago} other {{{minutes}} minutes ago}}</span>
  ({{minutes}})
  <br><br>
  <button type="button" (click)="male()">&#9794;</button> <button type="button" (click)="female()">&#9792;</button> <button type="button" (click)="other()">&#9895;</button>
  <span i18n>The author is {gender, select, male {male} female {female} other {other}}</span>
  <br><br>
  <span i18n>Updated: {minutes, plural,
    =0 {just now}
    =1 {one minute ago}
    other {{{minutes}} minutes ago by {gender, select, male {male} female {female} other {other}}}}
  </span>
  <div id="container">
    <strong>Ready to create an app?</strong>
    <p>Start with Ionic <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>
  </div>
</ion-content>
